body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#jersey:hover {
  background-color:peru;
  width: 320px;
}

#header {
  text-align: center;
  padding-top: 20px;
}

#jersey {
  height: 120px;
  width: 320px;
  border: solid 3px black;
  margin-left: 39%;
  margin-right: 50;
  margin-top: 100px;
  text-align: center;
}

